<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mubsone.mubsone" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    // the user permission
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_app"
        android:label="Mubsone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        //the applications that will work on you phone
        <activity
            android:name=".LogIn"
            android:label="Mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoverPage"
            android:label="mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Notifications"
            android:label="mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoverPage" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="mubsone"
            android:parentActivityName=".CoverPage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoverPage" />
        </activity>
        <activity
            android:name=".Search"
            android:label="Search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoverPage" />
        </activity>
        <activity
            android:name=".Marketplace"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoverPage" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoverPage" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
