<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mubsone.mubsone" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    // the user permission
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Mubsone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        //the applications that will work on you phone
        <activity
            android:name=".LogIn"
            android:label="Mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Newsfeed"
            android:label="mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Notifications"
            android:label="mubsone"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".Newsfeed"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Newsfeed" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MarketPlace"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
